# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Semestrovaya/v17/Browse.VC.opendb
/.vs/Semestrovaya/v17/Browse.VC.db
/.vs/Semestrovaya/v17/Browse.VC.db-shm
/.vs/Semestrovaya/v17/Browse.VC.db-wal
/.vs/Semestrovaya/FileContentIndex/5126eb23-5665-44f8-8a89-a2a422a870a5.vsidx
/.vs/Semestrovaya/FileContentIndex/7496ccd9-b7ab-47b8-804b-71faa4ee7c6c.vsidx
/.vs/Semestrovaya/FileContentIndex/8ec924db-4cee-4d3e-b6f4-7f7e1ed88e3b.vsidx
/.vs/Semestrovaya/FileContentIndex/928482de-978b-47a4-9103-866df08f5008.vsidx
/.vs/Semestrovaya/FileContentIndex/ca94b1f3-8e2f-45b0-a948-fc1538499936.vsidx
/.vs/Semestrovaya/FileContentIndex/de0e5d25-8106-4252-a01d-c7cf3afc41dd.vsidx
