# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Semestrovaya/v17/Browse.VC.opendb
*.vsidx
/.vs/Semestrovaya/v17/ipch/AutoPCH/cc6ab7c4dfef84a3/MAINWINDOW.ipch
/.vs/Semestrovaya/v17/.suo
/.vs/Semestrovaya/v17/Browse.VC.db
/.vs/Semestrovaya/v17/Browse.VC.db-shm
/.vs/Semestrovaya/v17/Browse.VC.db-wal
